.newsItem {
	background-color: #fff;
	padding: 20px 30px 20px 80px;
	border-bottom: 1px solid #eee;
	position: relative;
	line-height: 20px;
}

.score {
	color: #2e495e;
	font-size: 1.1em;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 0;
	width: 80px;
	text-align: center;
	margin-top: -10px;
}

.root {
	height: 100%;
	max-width: 800px;
	margin: auto;
}

.host,
.meta {
	font-size: 0.85em;
	color: #595959;
}
